@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/bootstrap-icons-custom.css" rel="stylesheet" />
    <component render-mode="ServerPrerendered" type="typeof(HeadOutlet)" />
</head>
<body>
<component render-mode="ServerPrerendered" type="typeof(App)" />

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a class="reload" href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>