@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Pages
@using SmallsOnline.PasswordExpirationNotifier.AdminConsole.Shared.EmailTemplates

@page "/email-templates/edit/{id}"

@if (_emailTemplateConfig is not null)
{
    <PageTitle>
        Edit - @_emailTemplateConfig.TemplateName - Email Templates - Password Expiration Notification Admin Console
    </PageTitle>
}
else
{
    <PageTitle>
        Edit - Loading... - Email Templates - Password Expiration Notification Admin Console
    </PageTitle>
}
<div class="row">
    <div class="d-flex">
        <div>
            <h1>
                Email Templates
            </h1>
        </div>
        <div class="ms-3 my-auto flex-shrink-1">
            <a class="btn btn-primary" href="/email-templates" role="button">
                Go back
            </a>
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="Auth">
            <div class="row">
                @if (_emailTemplateConfig is not null)
                {
                    <EmailTemplateForm EmailTemplateConfig="_emailTemplateConfig" />
                }
                else
                {
                    <div class="col-12">
                        <p>
                            Loading...
                        </p>
                    </div>
                }
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="col-12">
                <p>
                    You are not authorized to access this page. 😬
                </p>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>