@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Pages
@using SmallsOnline.PasswordExpirationNotifier.AdminConsole.Shared.UserSearchConfigs

@page "/user-search-configs/edit/{id}"

@if (_userSearchConfig is not null)
{
    <PageTitle>
        Edit - @_userSearchConfig.ConfigName - User Search Configs - Password Expiration Notification Admin Console
    </PageTitle>
}
else
{
    <PageTitle>
        Edit - Loading... - User Search Configs - Password Expiration Notification Admin Console
    </PageTitle>
}
<div class="row">
    <div class="d-flex">
        <div>
            <h1>
                User Search Configs
            </h1>
        </div>
        <div class="ms-3 my-auto flex-shrink-1">
            <a class="btn btn-primary" href="/user-search-configs" role="button">
                Go back
            </a>
        </div>
    </div>
    <AuthorizeView>
        <Authorized Context="Auth">
            <div class="row">
                @if (_userSearchConfig is not null)
                {
                    <UserSearchConfigForm UserSearchConfig="_userSearchConfig" />
                }
                else
                {
                    <div class="col-12">
                        <p>
                            Loading...
                        </p>
                    </div>
                }
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="col-12">
                <p>
                    You are not authorized to access this page. 😬
                </p>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>