@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Pages
@using SmallsOnline.PasswordExpirationNotifier.AdminConsole.Shared.Auth

@page "/"

<div class="row">
    <h1>Hello, world!</h1>
</div>