@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Pages

@page "/"

<PageTitle>
    Home - Password Expiration Notification Admin Console
</PageTitle>
<div class="row">
    <h1>
        Home
    </h1>
    <AuthorizeView>
        <Authorized>
            <p>
                Select a page from the menu.
            </p>
        </Authorized>
        <NotAuthorized>
            <p>
                Please sign in to continue.
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>