@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Shared.Common

<div aria-hidden="true" aria-labelledby="modal-label" class="modal fade" id="delete-modal-@ModalId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-label">
                    @ModalTitle
                </h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">No</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button" @onclick="async (args) => await HandleConfirmedAsync(args)">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>