@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Shared.Common
@inherits ComponentBase

<div class="offcanvas offcanvas-start text-bg-dark w-75" id="offcanvas-@AttachmentItem!.Id">
    <div class="offcanvas-header">
        <div class="d-flex justify-content-center">
            <h3 class="offcanvas-title font-monospace">
                @AttachmentItem.FileName
            </h3>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex justify-content-center align-content-center">
            <div>
                @if (AttachmentItem.FileContents is not null)
                {
                    <img class="img-fluid" src="data:image/jpeg;base64,@AttachmentItem.FileContents" />
                }
                else
                {
                    <p>
                        I see no image. 😡
                    </p>
                }
            </div>
        </div>
    </div>
</div>