@namespace SmallsOnline.PasswordExpirationNotifier.AdminConsole.Shared.UserEmailRedirectConfigs

@inherits ComponentBase

<div class="row">
    <div class="col-12">
        <EditForm Model="@UserEmailRedirectConfig" OnSubmit="@HandleFormSubmitAsync">
            <div class="row">
                <div class="col">
                    <label class="fw-bold form-label">
                        ID:
                    </label>
                    <InputText @bind-Value="UserEmailRedirectConfig.Id" class="form-control" disabled readonly />
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <label class="form-label fw-bold">
                        User Principal Name:
                    </label>
                    <InputText @bind-Value="UserEmailRedirectConfig.UserPrincipalName" class="form-control" />
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <label class="form-label fw-bold">
                        Target User Principal Name:
                    </label>
                    <InputText @bind-Value="UserEmailRedirectConfig.RedirectUserPrincipalName" class="form-control" />
                </div>
            </div>
            <div class="d-flex justify-content-end pt-2">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </EditForm>
    </div>
</div>